//benefit

.benefit {
    text-align: center;

    @include phones {
        display: flex;
        text-align: left;
    }
}


.benefit__image-wrapper {
    display: inline-block;
    width: rem(125px);
    height: rem(125px);
    position: relative;
    background: #f2f5f4;
    border-radius: 50%;
    overflow: hidden;
    @include phones {
        margin-right: rem(7px);
    }

}


.benefit__image {
    margin-bottom: rem(19px);
    @include phones {
        margin-bottom: 0;
    }
    
}

.benefit__title {
    font-size: rem(27px);
    font-weight: bold;
    margin-bottom: rem(10px);
    color: #000;
}
