.hamburger {
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 20px;
    display: none;
    

    @include tablets {
        display: inline-flex;
        position: fixed;
        right: 10px;
        top:34px;
        cursor: pointer;
    }
}

.hamburger__plank  {
    display: block;
    background: #fff;
    height: 4px;
    border-radius: 15px;

}

