

//section
.section {
    height: 100vh;
    min-height: rem(650px);
    display: flex;
    flex-direction: column;
    justify-content: center;

    &--font-color--green {
        color: $darkGreen;

        .section__title {
            color: inherit;
        }
    }
}

.order-section {
    background: url("../img/decor/pattern.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    &:before {
        content: url("../img/decor/leaf-mint.png");
        position: absolute;
        right: rem(3px);
        bottom: rem(81px);

    }

    &:after {
        content: url("../img/decor/one-blueberry.png");
        position: absolute;
        left: rem(20px);
        bottom:rem(83px);
    }

}

.map-section {
    background: url("../img/decor/map.png") center center no-repeat;
    background-size: cover;
    position: relative;
}

.reviews-section {
    position: relative;

    &:before {
        content: url("../img/decor/Strawberry.png");
        position: absolute;
        right: rem(15px);
        top: rem(36px);
    }

    &:after {
        content: url("../img/decor/leaf-berry.png");
        position: absolute;
        left: 0;
        bottom: rem(-150px);
    }
}
.section__title {
    font-size: rem(48px);
    font-weight: bold;
    margin-bottom: rem(60px);
    text-align: center;
    text-transform: uppercase;
    color: #000000;
}

.headline {
    text-align: center;

}

.headline__title {
    margin-bottom: rem(7px);
}

.headline__subtitle {
    padding: 0 26%;
    color: #666666;
    margin-bottom: rem(55px);

    @include phones {
        padding: 0 5%;
    }
}
